<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minee.kotlin_sample2">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_sample2"
        android:usesCleartextTraffic="true">
        <activity android:name=".part3chapter01.P3C01MainActivity"></activity>
        <activity
            android:name=".part2chapter08.P2C08MainActivity"
            android:theme="@style/Theme.Kotlin_sample2.WebView.NoActionBar" />
        <activity
            android:name=".part2chapter07.P2C07MainActivity"
            android:theme="@style/Theme.Kotlin_sample2.Recorder" />
        <activity
            android:name=".part2chapter06.P2C06MainActivity"
            android:theme="@style/Theme.Kotlin_sample2.NoActionBar" />
        <activity
            android:name=".part2chapter05.P2C05PhotoFrameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Kotlin_sample2.NoActionBar" />
        <activity
            android:name=".part2chapter05.P2C05MainActivity"
            android:theme="@style/Theme.Kotlin_sample2.NoActionBar" />
        <activity android:name=".part2chapter04.P2C04MainActivity" />
        <activity
            android:name=".part2chapter03.P2C03DiaryActivity"
            android:theme="@style/Theme.Kotlin_sample2.NoActionBar" />
        <activity
            android:name=".part2chapter03.P2C03MainActivity"
            android:theme="@style/Theme.Kotlin_sample2.NoActionBar" />
        <activity android:name=".part2chapter02.P2C02MainActivity" />
        <activity android:name=".part2chapter01.P2C01ResultActivity" />
        <activity android:name=".part2chapter01.P2C01MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>